* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    padding: 50px 0;
    border-bottom: 1px solid #000000;
    background-image: url("../images/background-image.jpg")
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 350px;
    padding: 40px 0;
    border: 1px solid #000000;
    background-color: #ffffff7b;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
}

header p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/* Nav */

ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

li {
    list-style-type: none;
}

a {
    padding: 0 130px;
    border-top: 1px solid #000000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

a:hover {
    border-top-width: 10px;
}

/* Main */

main article {
    display: flex;
    justify-items: center;
    padding: 90px 30px;
}

main section {
    margin: 0 50px;
}

main div {
    margin: 30px 0;
}

#article2 {
    background-color: #f4f4f4;
    flex-direction: row-reverse;
}

img {
    width: 500px;
    height: auto;
    border: 1px solid #000000;
}

.heading {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

.text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

#green {
    color: rgb(120, 255, 120);
}

#blue {
    color: rgb(115, 115, 255);
}

#yellow {
    color: rgb(251, 251, 12);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #f4f4f4;
}

footer p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}