* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    padding: 50px 0;
    border-bottom: 1px solid #000000;
    background-image: url("../images/background-image.jpg")
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 350px;
    padding: 40px 0;
    border: 1px solid #000000;
    background-color: #ffffff7b;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;
}

header p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

@media (max-width: 1000px) {
    header div {
        flex-direction: row;
        justify-content: center;
        padding: none;
        border: none;
        background-color: #ffffff00;
    }

    header p {
        display: none;
    }
}

@media (max-width: 650px) {
    header div {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 50px;
    }
}

/* Nav */

#nav-ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
}

.nav-li {
    list-style-type: none;
    padding: 20px 0;
}

.nav-a {
    padding: 20px 130px;
    border-left: 1px solid #000000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

#nav-list-element-last {
    border-right: 1px solid #000000;
}

.nav-a:hover {
    padding: 20px 160px;
}

@media (max-width: 1000px) {
    #nav-ul{
        flex-direction: column;
        align-items: center;
    }

    .nav-a {
        border-left: none;
        transition: 0.5s;
    }

    .nav-a:hover {
        color: rgb(142, 142, 176);
    }

    #nav-list-element-last {
        border-right: none;
    }
}

/* Main */

article {
    display: flex;
    justify-items: center;
    padding: 90px 30px;
}

section {
    margin: 0 50px;
}

main div {
    margin: 30px 0;
}

#article2 {
    background-color: #f4f4f4;
    flex-direction: row-reverse;
}

img {
    width: 500px;
    height: auto;
    border: 1px solid #000000;
}

.heading {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

.text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

#green {
    color: rgb(120, 255, 120);
}

#blue {
    color: rgb(115, 115, 255);
}

#yellow {
    color: rgb(251, 251, 12);
}

@media (max-width: 1000px) {
    article, #article2 {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    img {
        width: 300px;
    }

    .heading {
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
    }
    
    .text {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
    }
}

/* Footer */

footer {
    padding: 20px 0;
    background-color: #f4f4f4;
}

#footer-ul {
    display: flex;
    justify-content: center;
}

.footer-li {
    list-style-type: none;
    padding: 20px 0;
}

.footer-a {
    padding: 20px 130px;
    border-left: 1px solid #000000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

#footer-list-element-last {
    border-right: 1px solid #000000;
}

.footer-a:hover {
    padding: 20px 140px;
}

@media (max-width: 1000px) {
    #footer-ul{
        flex-direction: column;
        align-items: center;
    }

    .footer-a {
        border-left: none;
        transition: 0.5s;
    }

    .footer-a:hover {
        color: rgb(142, 142, 176);
    }

    #footer-list-element-last {
        border-right: none;
    }
}